<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
                     android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nanaclu"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.HomeActivity" android:exported="false" />
        <activity android:name=".ui.group.GroupDetailActivity" android:exported="false" />
        <activity 
            android:name=".ui.group.SearchResultsActivity" 
            android:exported="false"
            android:label="Kết quả tìm kiếm"
            android:parentActivityName=".ui.group.GroupDetailActivity" />
        <activity android:name=".ui.group.GroupSettingsActivity" android:exported="false" />
        <activity android:name=".ui.report.GroupReportActivity" android:exported="false" />
        <activity android:name=".ui.group.EditGroupInfoActivity" android:exported="false" />
        <activity android:name=".ui.group.GroupMembersActivity" android:exported="false" />
        <activity android:name=".ui.group.TransferOwnershipActivity" android:exported="false" />
        <activity android:name=".ui.post.CreatePostActivity" android:exported="false" />
        <activity android:name=".ui.post.PostDetailActivity" android:exported="false" />
        <activity android:name=".ui.post.ImageViewerActivity" android:exported="false" />
        <activity android:name=".ui.video.VideoPlayerActivity" android:exported="false" />
        <activity android:name=".ui.post.PendingPostsActivity" android:exported="false" />
        <activity android:name=".ui.auth.LoginActivity" android:exported="false" />
        <activity android:name=".ui.auth.RegisterActivity" android:exported="false" />
        <activity android:name=".ui.profile.ProfileActivity" android:exported="false" />
        <activity android:name=".ui.profile.EditProfileActivity" android:exported="false" />
        <activity android:name=".ui.chat.ChatRoomActivity" android:exported="false" />
        <activity android:name=".ui.chat.MembersActivity" android:exported="false" />
        <activity android:name=".ui.chat.PhotoGalleryActivity" android:exported="false" />
        <activity android:name=".ui.group.GroupNotificationsActivity" android:exported="false" />
        <activity android:name=".ui.group.GroupBlockedUsersActivity" android:exported="false" />
        <activity android:name=".ui.group.GroupPendingMembersActivity" android:exported="false" />
        <activity android:name=".ui.group.logs.GroupLogActivity" android:exported="false" />
        <activity android:name=".ui.group.statistics.GroupStatisticsActivity" android:exported="false" />
        <activity android:name=".ui.security.SecurityActivity" android:exported="false" />
        <activity android:name=".ui.security.PinEntryActivity" android:exported="false" />
        <activity android:name=".ui.event.GroupEventActivity" android:exported="false" />
        <activity android:name=".ui.event.CreateEventActivity" android:exported="false" />
        <activity android:name=".ui.event.EventDetailActivity" android:exported="false" />
        <activity android:name=".ui.chat.FileGalleryActivity" android:exported="false" />
        <activity android:name=".ui.search.SearchUsersActivity" android:exported="false" />
        <activity android:name=".ui.friends.FriendsActivity" android:exported="false" />
        <activity android:name=".ui.friends.BlockedUsersActivity" android:exported="false" />
        <activity android:name=".ui.notifications.NotificationsActivity" android:exported="false" />
        <activity android:name=".ui.admin.AdminDashboardActivity" />

        <!-- FileProvider for sharing files -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

    </application>

</manifest>